<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Test By Delgado</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1" ng-repeat="item in data.test">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1"></div>
                <div class="col" data-comp-id="column.2"></div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.3"></div>
            </div>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.6">
                    <div collection-repeat="item in data.test" data-comp-id="text.1">Some text</div>
                </div>
                <div class="col" data-comp-id="column.4">
                    <div data-comp-id="text.2">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.3">Some text</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>