<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-android-cancel" data-comp-id="button.1"
                ng-click="app.go('app.issuelistview')"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Reportissue</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon fa-icon fa-save" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <label class="item  item-input item-select-icon positive-icon"
                    data-comp-id="selectInput.1">
                    <span class="input-label">Category</span>
                    <select ng-model="data.category.selected"
                        ng-options="item as item.label for item in data.category.options"></select>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                    <span class="input-label">Description</span>
                    <textarea rows="4"></textarea>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <label class="item" data-comp-id="takePhoto.1"
                    ng-class="{'item-input item-button-right': style === 'control'}"
                    take-photo="control">
                    <span class="input-label" ng-if="style === 'control'">Take Photo</span>
                    <button class="button button-icon" ng-if="style === 'control'">
                        <i class="icon positive-icon ion-camera"></i>
                    </button>
                    <input disabled="" ng-if="style === 'control'" type="text">
                    <button class="button button-block button-positive nomargin"
                        ng-if="style === 'button'">Take Photo</button>
                    <textarea class="not-visible"></textarea>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>